{% extends "arbiter/base.html" %}

{% load static %}

{% block extrastyle %}
{{block.super }}
<link rel="stylesheet" href="{% static 'css/change-form.css' %}?v=1.2">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.3">
{{form.media}}
{% endblock %}

{% block content %}

<form id="change-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{form }}
    {% if can_change %}
    <div class="form-submit-box">
        {% block submit-box %}
        <!-- <input type="submit" name="save" value="save"/> -->
        <button type="submit" name="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>

        {% if form.instance.pk %}
            <button type="submit" name="delete"><i class="fa-solid fa-trash"></i> Delete</button>
            <!-- <input type="submit" name="delete" value="delete"/> -->
        {% endif %}
        {% endblock %}
    </div>
    {% endif %}
</form>

{% endblock content %}
