{% extends "arbiter/base.html" %}

{% load static %}

{% block extrastyle %}
{{block.super }}
<link rel="stylesheet" href="{% static 'css/change-form.css' %}">
{{form.media}}
{% endblock %}

{% block content %}

<form id="change-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{form }}
    {% if can_change %}
    <div class="form-submit-box">
        {% block submit-box %}
        <input type="submit" name="save" value="save"/>

        {% if form.instance.pk %}
            <input type="submit" name="delete" value="delete"/>
        {% endif %}
        {% endblock %}
    </div>
    {% endif %}
</form>

{% endblock content %}
