
<h2>Violation of usage policy</h2>

<p>
    A violation of the usage policy by {{ username }} ({{ realname }})
    on {{ violation.target.host }} was automatically detected starting on {{ timestamp.strftime('%x') }} at {{ timestamp.strftime('%X') }}.
</p>

<p>Because the usage has exceeded the usage policy, the following resource limits will be applied:</p>

    {% for limit, value in limits.items() %}
        <p>
            {{ limit }} : {{ value }}
        
            {% if limit == "CPU" %}
                (cores)
            {% endif %}

            {% if limit == "Memory" %}
                (GIB)
            {% endif %}
        </p>
    {% endfor %}

<p>
    These limits will apply until {{ expiration.strftime('%x') }} at {{expiration.strftime('%X')}} on the following hosts:
</p>

{% for host, port in violation.policy.affected_hosts %}
    {{ host }}
{% endfor %}


<p>
    Below is a summary of the usage that caused the violation.
</p>

{% for figure in figures %}
    <img src="cid:{{figure}}"/>
{% endfor %}