<style>
.graph-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
</style>

<ul class="messagelist">
    {% if error %}
        <li class = "error">{{error}}</li>
    {% endif %}
    {% if warning %}
        <li class="warning">{{warning}}</li>
    {% endif %}
</ul>

<div class="graph-box">
    <div style="min-width: 600px; width: 50%; flex:1; max-width: 80%;">{{graph}}</div>
    {%if is_proc_graph %}
        <p style="font-size: 12pt;">
            <i>*Proccesses marked like this are on the whitelist and are not counted against the user when evaluating policies. The process is included in this report to show usage holistically.</i>
        </p>
    {% endif %} 
</div>