{% extends "arbiter/base.html" %}

{% block page-title %}
    Usage Policies
{% endblock %}
{% block content %}
{% if can_create %}
    <a href="{% url 'arbiter:new-usage-policy'%}" class = "create-link">Create New Usage Policy</a> 
{% endif %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Domain</th>
        </tr>
    </thead>
    <tbody>
        {% for policy in object_list %}
        <tr>
            <td><a href="{% url 'arbiter:change-usage-policy' policy.id%}">{{policy.name}}</a></td>
            <td>{{policy.domain}}</td>
        </tr>
        
        {% empty %}
            <h4>
                No usage Policies.
            </h4>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}