{% extends "arbiter/base.html" %}
{% load static %}
{% load humanize %}

{% block extrastyle %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.3">
{% endblock %}

{% block page-title %}
    User Breakdown for <span class="code-name">{{ username }}</span> 
    {% if realname and realname != "unknown" and realname != "unknown real name"%}
        <dimmed>({{realname}})</dimmed>
    {% endif %}
    {% if email and email != "unknown"%}
        <span class="title-note">
            <dimmed><label>Email:</label><a href="mailto:{{email}}">{{email}}</a></dimmed>
        </span>
    {% endif %}
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="card">
        <!-- <h2 class="box-header">Management</h2>
        <hr class="box-divider"> -->
        <div class="user-box">
            <div class="user-limits-box">
                <h3>Active Limits</h3>
                <hr class="box-divider">
                {% for target in targets %}
                
                <h3 class="target-host-header">{{ target.host }}</h3>
                
                <ul>
                    {% for propname, propvalue in target.limits.items %}
                    <li>{{ propname }} : {{ propvalue }}</li>
                    {% empty %}
                    None
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            <div class="user-active-viol-box">
                <h3>Active Violations/Base Status</h3>
                <hr class="box-divider">
                <ul class="notification-table">
                    {% for violation in active_violations %}
                    <li>
                        <a href="{% url 'arbiter:change-violation' violation.id %}">
                            {{violation.policy.name}} on {{ violation.target.host }}
                        </a> 
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="user-recent-viol-box">
                <h3>Most Recent Violation History</h3>
                <hr class="box-divider">
                <ul class="notification-table">
                    {% for violation in recent_violations %}
                    <li>
                        <a href="{% url 'arbiter:change-violation' violation.id %}">
                            {{violation.policy.name}} - {{violation.timestamp | naturaltime}} on {{ violation.target.host }}
                        </a> 
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}