{% extends 'arbiter/base.html'%}
{% load static %}

{% block extrastyle %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.3">
{% endblock %}

{% block content %}
<div>
    <div class="card">
        <div class="search-box">
            <form method="post">
                {% csrf_token %}
                <h3>Quick Search</h3>
                <hr class="box-divider">
                <div class="options-box">
                    <div class="label-input-box">
                        <h3>Username</h3>
                        <input type="text" name="user" placeholder="user">
                    </div>
                    <input type="submit" value="search">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}