[Unit]
Description=cgroup-warden
Documentation=https://github.com/chpc-uofu/cgroup-warden

Wants=network.target network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/sbin/cgroup-warden --certFile /vagrant/cert.pem --keyFile /vagrant/key.pem --bearerToken insecure-95axve4fn4j2u8ih0j1ltg272g1n297l8 --collectProc

[Install]
WantedBy=multi-user.target
