form{
    display:  flex;
    flex-direction: column;
}

form div, .form-row {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    border-bottom: 1px solid var(--darker-bg);
    padding: 10px;
}

form div input, .field-value{
    /* grid-column: 2; */
    width: fit-content;
}

form div label, .form-row label{
    display: block;
    /* grid-column: 1; */
    width: 20%;
}

form div div, .form-submit-box{
    border-bottom: none;
    display: flex;
    flex-direction: row;
}
.helptext{
    color: var(--lighter-text-color);
    font-size: smaller;
    justify-self: flex-end;
}

