[Unit]
Description=Arbiter (Django with Gunicorn)
After=network.target

[Service]
Type=notify
User=arbiter3
Group=arbiter3
RuntimeDirectory=gunicorn
Environment=DJANGO_SETTINGS_MODULE="settings"
WorkingDirectory=/srv/arbiter
ExecStart=venv/bin/gunicorn --workers=2 --timeout=180 --bind 127.0.0.1:443 --certfile certfile.pem --keyfile keyfile.pem
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=180
PrivateTmp=true