[Unit]
Description=Arbiter (Django with Gunicorn)
After=network.target

[Service]
Type=notify
User=arbiter3
Group=arbiter3
RuntimeDirectory=gunicorn
Environment=DJANGO_SETTINGS_MODULE="settings"
WorkingDirectory=/opt/arbiter
ExecStart=/opt/arbiter/venv/bin/gunicorn --workers=2 --timeout=180 server.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=180
PrivateTmp=true