global:
  scrape_interval: 10s

scrape_configs:
  - job_name: cgroup-agent
    scrape_interval: 1s
    scheme: https
    authorization:
        type: Bearer
        credentials: insecure-95axve4fn4j2u8ih0j1ltg272g1n297l8 
    static_configs:
      - targets: ['192.168.56.2:2112']
    tls_config:
      insecure_skip_verify: true
