:root{
    --bright-accent: #cc0000;
    --light-accent: #be0000;
    --primary-bg : #f1f1f1;
    --secondary-bg : #cdcccb;
    --darker-bg : #a9a8a8;
    --title-color: black;
    --nav-button-color: #f1f1f1;
    --light-text-color: #dddddd;
    --darker-light-text : #8b8f8d;
    --lighter-text-color: #6e6b6b;
    --border-color : black;
    --lighter-border-color : #979393;
    --light-border: #808080;
    --darker-accent : #990101;
    --link-accent : #800202;
    --success-bg-color: #8de28d;
    --error-bg-color: #e27171;
    --warning-bg-color: #cfb274;
    --table-head : #5e5e5e;
    --table-header: #dddddd;
    --header-bg: #E2E6E6;
    --header-fg: black;
    --input-bg: white;
    --shadow-color: rgba(0, 0, 0, 0.61);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bright-accent: #cc0000;
    --light-accent: #be0000;
    --primary-bg : #121212;
    --secondary-bg : #212121;
    --darker-bg : #181a1b;
    --title-color: white;
    --nav-button-color: #fefefe;
    --light-text-color: #696969;
    --darker-light-text : #c4c9c7;
    --lighter-text-color: #bebcbc;
    --border-color : #353535;
    --lighter-border-color : #666669;
    --light-border: #8f8f9d;
    --darker-accent : #9c0303;
    --link-accent : #e40606;
    --success-bg-color: #71cf71;
    --error-bg-color: #e27171;
    --warning-bg-color: #cfb274;
    --table-head : #202020;
    --table-header: white;
    --header-bg: #212121;
    --main-fg: #eeeeee;
    --input-bg: #141414;
    --shadow-color: rgba(255, 255, 255, 0.5);
  }
}

* {
    font-family: var(--bs-font-monospace); 
    font-family: monospace;
    font-size: large;
    color: var(--main-fg);
    transition: 220ms all ease-in-out;
}

a {
    color: var(--link-accent);
}

a *{
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

hr{
    background-color: var(--lighter-border-color);
    height: 1px;
    margin: 10px;
    margin-top: 0px;
}

.page-title{
    font-size: 1.55rem;
    font-weight: 600;
    margin: 15px;
    margin-bottom: 8px;
    color: var(--title-color)
}

body {
    background-color: var(--primary-bg);
    margin: 0px;
    padding: 0px;
}

.content{
    padding: 15px;
}

table{
    padding: 5px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid var(--lighter-border-color);
}

tr:nth-child(even) {
    background-color: var(--secondary-bg); 
}


th {
    background-color: var(--table-head); 
    color: var(--table-header);
}

.navbar {
    display: flex;
    background-color: var(--darker-accent);
    color: var(--nav-button-color);
    padding: 0px;
    padding-left: 5px;
    height: 3.5em;
    align-items: center;
    margin : 0px;
}

h1, h2, h3, h4, h5, h6{
    color: var(--main-fg);
    font-family: 'Montserrat', sans-serif;
}

.navbar button{
    background: inherit;
}

.navbar button:hover{
    border: none;
}

input, select, textarea{
    background-color: var(--input-bg);
}


.navbar a, .navbar button {
    color: inherit;
    background-color: inherit;
    margin: 12px 8px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    max-height: 100%;
    border-radius: 18px;
}

.navbar a h3{
    color: inherit;
    margin: 0px;
    font-weight: 600;
}

.navbar a.active{
    color: #aaaaaa;
    background-color: #00000011;
}

.navbar a:hover, .user-login button:hover{
    border: none;
    transition: 200ms ease-in-out;
    scale: 1.01;
    background-color: #00000011;
}

#navbar-icon:hover{
    background-color: inherit;
    scale: 1;
}

#navbar-icon{
    padding: 0px 0px;
    margin: 0px;
    height: 100%;
}

.navbar .logo{
    height: 100%;
    width: auto;
}

.user-login{
    justify-content: center;
    margin-left: auto;
}

.user-login button, .user-login a{
    color: var(--nav-button-color);
    border: 0px;
    font-weight: bold;
}


input, button, select, textarea {
    box-shadow: none;
    border: 2px solid var(--lighter-border-color);
    border-radius: 4px;
    padding: 10px 15px; /* Padding for input and button */
    outline: none; /* Remove outline on focus */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}

input:focus, button:hover, select:hover, textarea:hover {
    box-shadow: 0 0 0 2px #0044ff5b;
}

.navbar button:hover{
    box-shadow: none;
}

/* message box */
ul.messagelist{
    padding: 0px;
    margin: 0px;
}

ul.messagelist li{
    list-style-type: none;
    padding: 5px;
    color: black;
}

ul.messagelist li.success{
    background-color: var(--success-bg-color);
}
ul.messagelist li.error{
    background-color: var(--error-bg-color);
}
ul.messagelist li.warning{
    background-color: var(--warning-bg-color);
}

input[type="submit"], input[type="button"], select, button{
    cursor: pointer;
}

:is(input[type="submit"], input[type="button"], select, button):hover{
    background-color: var(--secondary-bg);
}

input[type="datetime-local"]{
    cursor:text;
}

input, select option{
    color: var(--main-fg);
}

select{
    text-align: center;
}

select:required:invalid {
  color: var(--lighter-text-color)
}


td[contenteditable="true"] {
  cursor: text;
}

td[contenteditable="true"]:hover {
  background-color: #fff3b065;
}

td[contenteditable="true"]:focus {
  background-color: #fff3b000;
}