<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Arbiter | {{ title }}
        {% endblock %}
    </title>    
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/arbiter-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/django-base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extrastyle %}

    {% endblock %}
    
</head>
<body>
    {% include 'arbiter/navbar.html' %} 
    {% block messages %} 
    <ul class="messagelist" id="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endblock messages %}
    <div class="header">
        {% block header %}
            <h1 class="page-title">{% block page-title %}{% endblock %}</h1>
            <hr>
        {% endblock %}
    </div>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>