{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
{{block.super}}
{% endblock %}
{% block content %}
{{block.super}}
{% if object_id and not base_policy %}
    <form action="{% url 'arbiter:convert_policy' id=object_id %}" method="post" name="convert-form">
        {% csrf_token %}
    {% if raw %}
        <input type="submit" class="default" name="action" value="To Builder Query">
    {% elif not raw %}
        <input type="submit" class="default" name="action" value="To Raw Query">
    {% endif %}
    </form>
{% endif %}
{% endblock %}