{% extends "arbiter/base.html" %}

{% block page-title %}
    Violations
{% endblock %}

{% block content %}
<table>
    <thead>
        <th>
            Violation
        </th>
        <th>
            Expiration
        </th>
    </thead>
    <tbody>
        {% for violation in object_list %}
            <tr>
                <td><a href="{% url 'arbiter:change-violation' violation.id%}">{{violation}}</a></td>
                <td>{{violation.expiration}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}


