{% extends 'admin/change_form.html'%}
{% block extrastyle %}
    {{block.super}}
    <script
    src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"
    ></script>
{% endblock %}
{% block content %}
{{block.super}}
<form action="{% url 'expire-violation' violation_id=object_id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="default" value="Expire">
</form>
{% endblock %}