{% extends "arbiter/base.html" %}

{% block content %}

<ul>
    <li>
        Target: {{ violation.target }}
    </li>
    <li>
        Policy: {{ violation.policy }}
    </li>
    <li>
        Expiration: {{ violation.expiration }}
    </li>
    <li>
        Timestamp: {{ violation.timestamp }}
    </li>
    <li>
        Offense Count: {{ violation.offense_count}}
    </li>
    <li>
        Is Base Status: {{ violation.is_base_status}}
    </li>
</ul>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <input type="submit" name="expire" value="expire"/>
    <input type="submit" name="delete" value="delete"/>
</form>

{% endblock content %}


